.header{
	font-size: 32px;
	text-align: center;
	padding-bottom:10px;
}

.top_spacing{
	margin-top: 50px;
}

.supplier{
	font-size: 25px;
	padding-bottom: 20px;
	font-weight: 500;
}

.brand{
	font-size: 25px;
	padding-bottom: 20px;
	font-weight: 500;
}