@font-face {
  font-family: 'Offside';
  font-style: normal;
  font-weight: 400;
  src: local('Offside'), local('Offside-Regular'), url(https://fonts.gstatic.com/s/offside/v4/kXtToyuSIeDzSauH8LQwXALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
